*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scrollbar-gutter: stable;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../assets/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --title: 'Roboto-Bold';
    --subtitle: 'Roboto-Medium';
    --text: 'Roboto-Regular';

    --primary: #E5A398;
    --secondary: #FFF9F6;
    --pinkterra: #C4998A;
    --terra: #f8b49b;
    --rosa-palido: #E2B8A8;
    --crema: #F5EDE8;
    --brown: #533636da;
}

body{
    font-family: var(--text);
    background-color: var(--secondary);
}

.navbar,
.footer,
.section{
    max-width: 1200px;
    margin: 0 auto;

}

.mainlogo {
    width: 75px;
    height: 75px;
    object-fit: contain;  
}

.logoletters {
    width: 150px;
    height: 90px;
    object-fit: contain;
}

footer{
    background-color: var(--brown);
}


header {
    position: sticky;
    top: 0;
    z-index: 1000;

    background-color: var(--primary);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
    height: 90px;
}